--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio
scipy==1.13.1
librosa==0.10.2
huggingface-hub
munch
einops
descript-audio-codec
gradio
pydub
resemblyzer
jiwer
transformers
FreeSimpleGUI
soundfile
sounddevice
modelscope
funasr